In [12]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2022-02-04 20:14:42,41.3712,-73.4140,36.48,91,100,5.75
1,1,Bonfim,BR,2022-02-04 20:18:43,3.0833,-59.9500,90.27,42,95,6.02
2,2,Jamestown,US,2022-02-04 20:18:43,42.0970,-79.2353,24.12,61,100,4.00
3,3,Saint Anthony,US,2022-02-04 20:18:44,45.0205,-93.2180,11.25,61,20,5.99
4,4,Albany,US,2022-02-04 20:14:00,42.6001,-73.9662,25.92,87,100,3.00

In [14]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [20]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [21]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [26]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Windmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Mar Del Plata,AR,2022-02-04 20:16:49,-38.0023,-57.5575,76.08,89,75,1.99
8,8,Nhulunbuy,AU,2022-02-04 20:18:45,-12.2333,136.7667,81.21,83,100,5.75
10,10,Arraial Do Cabo,BR,2022-02-04 20:18:46,-22.9661,-42.0278,82.36,78,40,11.50
12,12,Kapaa,US,2022-02-04 20:17:11,22.0752,-159.3190,77.47,70,0,1.01
14,14,Avarua,CK,2022-02-04 20:14:37,-21.2078,-159.7750,80.65,83,40,13.80
17,17,Itarema,BR,2022-02-04 20:18:47,-2.9248,-39.9167,82.00,72,99,13.35
21,21,Puerto Ayora,EC,2022-02-04 20:18:49,-0.7393,-90.3518,84.16,86,82,5.99
22,22,Hilo,US,2022-02-04 20:17:48,19.7297,-155.0900,78.62,77,100,4.61
23,23,Santa Maria,BR,2022-02-04 20:17:13,-29.6842,-53.8069,84.78,61,43,4.52
24,24,Karasburg,NaN,2022-02-04 20:18:50,-28.0167,18.7500,77.90,44,98,15.46

In [32]:
preferred_cities_df.count()

City_ID       148
City          148
Country       146
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
5     Mar Del Plata      AR     76.08 -38.0023  -57.5575
8         Nhulunbuy      AU     81.21 -12.2333  136.7667
10  Arraial Do Cabo      BR     82.36 -22.9661  -42.0278
12            Kapaa      US     77.47  22.0752 -159.3190
14           Avarua      CK     80.65 -21.2078 -159.7750
17          Itarema      BR     82.00  -2.9248  -39.9167
21     Puerto Ayora      EC     84.16  -0.7393  -90.3518
22             Hilo      US     78.62  19.7297 -155.0900
23      Santa Maria      BR     84.78 -29.6842  -53.8069
24        Karasburg     NaN     77.90 -28.0167   18.7500

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [45]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Mar Del Plata,AR,76.08,-38.0023,-57.5575,Gran Hotel Mar del Plata
8,Nhulunbuy,AU,81.21,-12.2333,136.7667,East Arnhem Real Estate
10,Arraial Do Cabo,BR,82.36,-22.9661,-42.0278,Pousada Porto Praia
12,Kapaa,US,77.47,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
17,Itarema,BR,82.00,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
21,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
22,Hilo,US,78.62,19.7297,-155.0900,Hilo Hawaiian Hotel
23,Santa Maria,BR,84.78,-29.6842,-53.8069,Hotel Morotin
24,Karasburg,NaN,77.90,-28.0167,18.7500,Hoon's Selfcatering

In [48]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))